*simulation/
*db/
*incremental_db/
*output_files/
*.bak
*.qsf
*.qpf
*.qws
*.rpt
*.cnf.cdb
*.cnf.hdb
*.do.bak*
!*DE2_115.qsf
*work
*RemoteSystemsTempFiles
*.metadata

!lab8/Lab8_provided/*.qpf
!Lab8/Lab8_provided/*.qsf
