*simulation/
*db/
*incremental_db/
*output_files/
*.bak
*.qsf
*.qpf
*.qws
*.rpt
*.cnf.cdb
*.cnf.hdb
*.do.bak*
*DE2_115.qsf
*work
*RemoteSystemsTempFiles
*.metadata
*.qsys_edit
lab9/lab9_soc
!lab9/software/vga_text_mode_color/*.c
!lab9/software/vga_text_mode_color/*.h
*.sopcinfo
*.tcl~
!lab8/Lab8_provided/*.qpf
Lab8/Lab8_provided/*.qsf
*/ECE385-HelperTools

